:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
}

body {
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #ececec;
}

.header .header__container {
  display: flex;
  align-items: center;
}

.header-contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 0;
}

.header-contact-list__item {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contact-list__mail-link {
  align-items: center;
  display: flex;
  padding: 32px 0;
  margin-right: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: color, fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.header-contact-list__mail-link:hover, .header-contact-list__mail-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.header-contact-list__tel-link {
  align-items: center;
  display: flex;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: color, fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.header-contact-list__tel-link:hover, .header-contact-list__tel-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.header-contact-list__icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navigation-list__link.current {
  color: var(--accent-color);
}

.navigation-list__item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list .navigation-list__item {
  position: relative;
}

.navigation-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding: 32px 0;
  color: #212121;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.navigation-list__link:hover, .navigation-list__link:focus {
  color: var(--accent-color);
}

.navigation-list__link--active::after {
  content: "";
  position: absolute;
  display: block;
  top: 76px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--accent-color);
}

.logo {
  margin-right: 93px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo_theme-light {
  color: #000000;
}

.logo_theme-dark {
  color: #ffffff;
}

.logo__accent-text {
  font-family: var(--secondary-font);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.19x;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.hero {
  background-color: #2f303a;
  margin: 0;
}

.hero-container {
  margin: 0 auto;
  min-height: 600px;
  max-width: 1600px;
  background-color: #2f303a;
  background-image: url("../images/hero-logo/main-logo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  text-align: center;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  max-width: calc(100% / 1.72);
  margin: 0 auto 30px auto;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.modal-btn {
  display: block;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
}

.privelegius {
  margin: 0;
  padding: 94px 0;
}

.privelegius-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.privelegius-list__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.privelegius-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 100px;
  padding-right: 100px;
  background: #f5f4fa;
  border-radius: 4px;
}

.privelegius-group__icon {
  width: 70px;
  height: 70px;
}

.privelegius__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.privelegius__discription {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
  letter-spacing: 0.03em;
  color: #757575;
}

.about {
  margin: 0;
  padding-bottom: 94px;
}

.about__title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.about-list__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.about-list__img {
  display: block;
  max-width: 100%;
}

.about-list__wrapper {
  position: relative;
}

.about-list__text {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.members {
  margin: 0;
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.members__title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #212121;
}

.members-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.members-list__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}

.members-list__foto {
  display: block;
  max-width: 100%;
}

.members-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.members-wrapper__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
  color: #212121;
}

.members-wrapper__profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 32px;
  margin-right: 32px;
  background: #ffffff;
  margin-top: 16px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:focus, .social-list__link:hover {
  background-color: var(--accent-color);
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover .social-list__icon {
  fill: #ffffff;
}

.social-list__link:focus .social-list__icon {
  fill: #ffffff;
}

.clients {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: #212121;
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.clients-list__link {
  flex-basis: calc(100% / 6 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.clients-list__link:focus, .clients-list__link:hover {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.clients-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:focus .clients-list__icon {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-list__link:hover .clients-list__icon {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.footer {
  display: flex;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-list {
  margin-top: 20px;
}

.footer-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-list__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff99;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list__link:hover, .footer-list__link:focus {
  color: #ffffff;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-social {
  margin-left: 70px;
}

.footer-social-list__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__join {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list__link:hover {
  background-color: var(--accent-color);
}

.footer-social-list__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer__sign {
  margin-left: auto;
}

.footer__masage {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-sign-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-sign-form__mail {
  width: 358px;
  height: 50px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}

.footer-sign-form__mail::placeholder {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer-sign-form__button {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  letter-spacing: 0.06em;
  justify-content: space-between;
  color: #ffffff;
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: var(--accent-color);
  margin-left: 12px;
  border: transparent;
  padding-left: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 28px;
}

.footer-sign-form__icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button:focus, .modal__close-button:hover {
  fill: var(--accent-color);
}

.modal-close__btn-icon {
  width: 11px;
  height: 11px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__discription {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.modal-form__block {
  display: block;
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.modal-form__field {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__icon {
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #212121;
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__coment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__coment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__coment:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__check-desc {
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 20px;
  margin-bottom: 30px;
}

.modal-form__check-desc::before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #000000;
  cursor: pointer;
  margin-right: 8px;
  border-radius: 2px;
}

.modal-form__check:checked + .modal-form__check-desc::before {
  background-image: url("../images/icons/vector-check.svg");
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  background-position: center;
}

.modal-form__check:focus + .modal-form__check-desc::before {
  outline: 2px solid var(--accent-color);
  border: transparent;
}

.modal-form__check-link {
  color: var(--accent-color);
}

.modal-form__button {
  display: block;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 56px;
  padding-right: 56px;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
}
/*# sourceMappingURL=main.css.map */