.about {
  margin: 0;
  padding-bottom: 94px;
}
.about__title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
}
.about-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.about-list__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.about-list__img {
  display: block;
  max-width: 100%;
}
.about-list__wrapper {
  position: relative;
}
.about-list__text {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
