.elements-list__wrapper {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.elements-list__title {
  margin: 0 0 4px 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.elements-list__progects {
  padding: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
.elements-list {
  margin-top: 40px;
  @media screen and (min-width: 768px) {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    justify-content: center;
  }
}
.elements-list__item {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  &:not(:last-child) {
    @media screen and (max-width: 1199px) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    margin: 15px;
    flex-basis: calc((100% - 4 * 15px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 6 * 15px) / 3);
  }
}
.elements-list__link {
  color: #212121;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.elements-list__discribe {
  position: relative;
  overflow: hidden;
}
.elements-list__img {
  display: block;
  align-items: center;
  max-width: 100%;
  @media screen and (min-width: 768px) {
    height: 294px;
    object-fit: cover;
  }
}
.overlay {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 24px;
  padding-top: 62px;
  padding-bottom: 62px;
  padding-right: 24px;
  height: 101%;
  width: 101%;
  background: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .elements-list__link:focus &,
  .elements-list__link:hover & {
    transform: translateY(0%);
  }
}
