.elements-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  padding-top: 34px;
  padding-bottom: 94px;
}
.elements-list__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  border: 1px solid #eee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.elements-list__img {
  display: block;
  align-items: center;
  max-width: 100%;
}
.elements-list__discribe {
  position: relative;
  overflow: hidden;
}
.overlay {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 24px;
  padding-top: 62px;
  padding-bottom: 62px;
  padding-right: 24px;
  height: 101%;
  width: 101%;
  background: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .elements-list__link:focus &,
  .elements-list__link:hover & {
    transform: translateY(0%);
  }
}
.elements-list__wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}
.elements-list__title {
  margin: 0 0 4px 0;
  padding: 0 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.elements-list__progects {
  padding: 0 24px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
