.header {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #ececec;
}
.header .header__container {
  display: flex;
  align-items: center;
}
.header-contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 0;
}
.header-contact-list__item {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-contact-list__mail-link {
  align-items: center;
  display: flex;
  padding: 32px 0;
  margin-right: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: color, fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}
.header-contact-list__tel-link {
  align-items: center;
  display: flex;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: color, fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}
.header-contact-list__icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
