.hero-container {
  margin: 0 auto;
  padding: 118px 0;
  background-repeat: no-repeat;
  text-align: center;
  background: rgba(47, 48, 58, 0.4);
  background-image: url("../studio-img/mobile/hero/main-logo.jpg");
  background-size: cover;
  background-position: center;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background: rgba(47, 48, 58, 0.4);
    background-image: url("../studio-img/mobile/hero/main-logo@2x.jpg");
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 768px;
    background: rgba(47, 48, 58, 0.4);
    background-image: url("../studio-img/tablet/hero/main-logo.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background: rgba(47, 48, 58, 0.4);
      background-image: url("../studio-img/tablet/hero/main-logo@2x.jpg");
    }
  }
  @media screen and (min-width: 1200px) {
    padding: 200px 0;
    max-width: 1600px;
    background: rgba(47, 48, 58, 0.4);
    background-image: url("../studio-img/desktop/hero/main-logo.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background: rgba(47, 48, 58, 0.4);
      background-image: url("../studio-img/desktop/hero/main-logo@2x.jpg");
    }
  }
}
.hero {
  background-color: #2f303a;
  margin: 0;
  @media screen and (min-width: 452px) and (max-width: 479px) {
    padding: 0 30px;
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    padding: 0 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 0 204px;
  }
  @media screen and (min-width: 1200px) {
    padding: 0 252px;
  }
}
.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
