.hero {
  background-color: #2f303a;
  margin: 0;
}
.hero-container {
  margin: 0 auto;
  min-height: 600px;
  max-width: 1600px;
  background-color: #2f303a;
  background-image: url("../images/hero-logo/main-logo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  text-align: center;
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  max-width: calc(100% / 1.72);
  margin: 0 auto 30px auto;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
