.privelegius {
  margin-top: 60px;
}
.privelegius-group {
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 25px 190px;
  background-color: #f5f4fa;
  border-radius: 4px;
  @media screen and (min-width: 768px) {
    padding: 25px 142px;
  }
  @media screen and (min-width: 1200px) {
    padding: 25px 100px;
  }
}
.privelegius-group__icon {
  margin: 0 auto;
  width: 70px;
  height: 70px;
}
.privelegius {
  @media screen and (min-width: 1200px) {
    padding: 94px 0 47px 0;
    margin-top: 0;
  }
}
.privelegius-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }
}
.privelegius-list__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    margin: 15px;
    width: calc((768px - 4 * 15px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((1200px - 8 * 15px) / 4);
  }
}

.privelegius__title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
.privelegius__discription {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
