.logo {
  margin-right: 93px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo_theme-light {
  color: #000000;
}
.logo_theme-dark {
  color: #ffffff;
}
.logo__accent-text {
  font-family: var(--secondary-font);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.19x;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
