.modal-form {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}
.modal-form__block {
  display: block;
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}
.modal-form__field {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-form__icon {
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #212121;
  .modal-form__input:focus + & {
    fill: var(--accent-color);
  }
}
.modal-form__coment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-form__check-desc {
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
  margin-top: 20px;
  margin-bottom: 30px;
  &::before {
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid #000000;
    cursor: pointer;
    margin-right: 8px;
    border-radius: 2px;
  }
  .modal-form__check:checked + &::before {
    background-image: url("../images/icons/vector-check.svg");
    background-color: var(--accent-color);
    background-repeat: no-repeat;
    background-position: center;
  }
  .modal-form__check:focus + &::before {
    outline: 2px solid var(--accent-color);
    border: transparent;
  }
}

.modal-form__check-link {
  color: var(--accent-color);
}
.modal-form__button {
  display: block;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 56px;
  padding-right: 56px;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
}
